<h1>Product List</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>ShareName</th>
        <th>SharePrice/th>
        <th>ShareQuantity</th>
    </tr>
    <tr *ngFor="let p of ShareList">
        <td>{{p.id}}</td>
        <td>{{p.shareName}</td>
        <td>{{p. sharePrice | currency}}</td>
        <td>{{p.ShareQuantity}}</td>
        <td>
            <a [routerLink]="['update',p.id]">Update</a>
        </td>
        <td>
            <a href="/products"(click)="deleteShare(p.id)">Delete</a>
        </td>
    </tr>
</table>
